<h1>Where's the bathroom!</h1>

<ul>
    {{#each bathrooms as |bathroom|}}
    <li>
      <a href="{{bathroom.id}}"> {{bathroom.street}}</a>
    </li>
    {{/each}}
</ul>

<a href ="/new">Add a bathroom location!</a>