  
<div class="container" style="background-color: beige;">
  <div class = "jumbotron" style="background-color: beige;" >
<div class = "page-header" >
<h1>Where's the bathroom!?</h1>
<ul style="color: beige;">
    {{#each bathrooms as |bathroom|}}
    <li>
      <a href="{{bathroom.id}}"> {{bathroom.street}}</a>
    </li>
    {{/each}}
</ul>
<br>
<br>

<button type = "button" style="float: left;" class="text-muted"><a href ="/new">Add a bathroom location!</a></button>
</div>
</div>

<style>
  body {
    background-image: url( "http://mike.teczno.com/img/osm-terrain/Stanford.jpg")
  }
</style>