<h2>Add a bathroom! </h2>
<div class = "jumbotron">
<form action="/" method="post" accept-charset="utf-8">
  <p>
    <label>Street:</label>
    <input type="text" name="street"/>
  </p>
    <p>
    <label>City:</label>
    <input type="text" name="city"/>
  </p>
    <p>
    <label>State:</label>
    <input type="text" name="state"/>
  </p>
    <p>
    <label>Zipcode:</label>
    <input type="text" name="zipcode"/>
  </p>
    <p>
    <label>Comments!</label>
    <input type="text" name="comments"/>
  </p>
  <input type="submit" value="Create" />
</form>
</div>
<style>
  .jumbotron {
    background-color: beige;
  }
</style>